.about {
	.c-content--index {
		background: url('#{$imgPath}/bck-plane.png') no-repeat 0 100%; 
		-webkit-background-size: 50%; 
		-o-background-size: 50%; 
		background-size: 50%; 
		border-bottom:  20px solid $white; 
	}
}